********************************************************
*                                                      *
* DRILL TAPE SUMMARY REPORT                            *
*                                                      *
* Z:\CONTROLBOARD_PROJECT\CAD\CONTROLBOARD_CAD-24.MAX  *
* Wed Sep 03 20:33:12 2014                             *
*                                                      *
********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       100      172      200      100                                                                                 
T2       310      206      200      100                                                                                 
T3       340      280      200      100                                                                                 
T4       370      172      200      100                                                                                 
T5       380      20       200      100                                                                                 
T6       800      6        200      100                                                                                 
T7       1660     4        200      100                                                                                 
