********************************************************
*                                                      *
* DRILL TAPE SUMMARY REPORT                            *
*                                                      *
* Z:\CONTROLBOARD_PROJECT\CAD\CONTROLBOARD_CAD-23.MAX  *
* Thu Jun 26 15:04:04 2014                             *
*                                                      *
********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       100      172      200      100                                                                                 
T2       310      206      200      100                                                                                 
T3       340      280      200      100                                                                                 
T4       370      172      200      100                                                                                 
T5       380      20       200      100                                                                                 
T6       800      6        200      100                                                                                 
T7       1260     4        200      100                                                                                 
